body {
    /* background-color: red; */
    background-image: url('./background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* object-fit: ; */
}
/* .container {
    background-color: #e3f2fd;
    display: flex;
    max-width: 960px;
    margin: 64px auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #1e88e5;
    min-height: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
} */
.container .content-box {
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid #212121;
    border-radius: 32px;
    color: #212121;
    padding: 32px;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 1;
}
.content-box .content {
    margin: 16px;
    width: 100%;
}
.content .input-label {
    font-weight: bold;
}
.content .input-container {
    margin-bottom: 16px;
}
.content .radio-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.content .button {
    width: 64px;
    margin-top: 16px;
}
.content .error {
    margin-top: 16px;
    color: red;
    font-weight: bold;
    display: none;
}

@media (min-width: 500px) {
    .container .content-box {
        flex-direction: row;
    }
    .content-box .content {
        margin: 16px;
        width: fit-content;
    }
}