body {
    /* background-color: red; */
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 16px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .content-box {
    background-color: rgba(200, 200, 200, 0.80);
    border: 1px solid #212121;
    border-radius: 32px;
    color: #212121;
    padding: 32px;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 1;
}
.content-box .content {
    margin: 16px;
    width: 100%;
}
.content .input-label {
    font-weight: bold;
}
.content .input-container {
    margin-bottom: 16px;
}
.content .radio-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.content .button {
    width: 64px;
    margin-top: 16px;
}
.content .error {
    margin-top: 16px;
    color: red;
    font-weight: bold;
    display: none;
}
.content .success {
    margin-top: 16px;
    color: green;
    font-weight: bold;
    display: none;
}
.content .predicted-text {
    font-weight: bold;
    text-transform: capitalize;
}
.content .answer-box {
    display: none;
    flex-direction: column;
    border-radius: 4px;
    border: 1px dashed #212121;
    padding: 8px;
}
.content .answer-box span {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 16px;
}

/* use media query to make our app responsive */
@media (min-width: 500px) {
    .container .content-box {
        margin-top: 80px;
        flex-direction: row;
        align-items: flex-start;
    }
    .content-box .content {
        margin: 16px;
        width: fit-content;
        min-height: 100%;
    }
}